---
import Envelope from "@icons/Envelope.astro";
import EnvelopeOpen from "@icons/EnvelopeOpen.astro";
import { socials } from "consts.astro";

const emails = [
  {
    text: "hello@andworc.com",
    href: "mailto:hello@andworc.com",
  },
  {
    text: "business@andworc.com",
    href: "mailto:business@andworc.com",
  },
];
---

<hr class="my-12" />
<section>
  <h2>Get in contact</h2>
  <div class="flex flex-col justify-between gap-8 md:flex-row">
    <div class="max-w-prose">
      <p class="mb-4">
        We would be blithe to hear from you, whether to simple say 'hello' or to
        discuss something in particular.
      </p>
      <div class="flex gap-4">
        {
          socials.map((social) => (
            <a href={social.link} target="_blank" class="hover:text-accent">
              <social.icon />
            </a>
          ))
        }
      </div>
    </div>
    <div class="space-y-4 text-xl">
      {
        emails.map((email) => (
          <div class="flex flex-row-reverse items-center justify-end gap-4">
            <a href={email.href} class="peer">
              {email.text}
            </a>
            <div class="block peer-hover:hidden">
              <Envelope />
            </div>
            <div class="hidden peer-hover:block">
              <EnvelopeOpen />
            </div>
          </div>
        ))
      }
    </div>
  </div>
</section>

<hr class="my-12" />
